<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="../styles/search_page.css">
	<script src="../scripts/main.js"></script>
</head>
<body>
	<header class="float_container" id="title">
		<div class="float_child">
			<img id="logo" src="../img/Logo.png">
		</div>
		<div class="float_child" id="title_text">
			<h1 id="title"><b>Results</b></h1>
		</div>
		<div class="float_child" id="top_buttons">
			<input class="btn1 btn float_child" type="button" onclick="openLocationRequest3()" value="Any Dangers Around Me?"/>
			<input class="btn2 btn float_child" type="button" onclick="openEmergencyCall()" value="Call Emergency Contact!"/>
		</div>
	</header>
	<main class="float_container">
		<div class="float_child btn grid_container" id="main_buttons">
			<input class="btn4 btn box" type="button" value="HIGH Danger"/>
			<input class="btn5 btn box" type="button" value="Steps to Mediate"/>
			<img class="box" src="../img/FILLER_danger_search_results2.png">
			<img class="box" src="../img/FILLER_steps_to_mediate_danger_results2.png">
		</div>
	</main>
	<footer id="signup">
		<input class="btn3 btn" type="button" onclick="location.href='../index.html';" value="Go Back to Main Page"/>
	</footer>
</body>
</html>